#message-box {
  width:max-content;
}
#message-header {
  margin: 0px;
}
#message-link {
  margin: 0px;
  font-weight: 700;
  color: blue;
}
#message-err {
  margin: 0px;
  font-weight: 700;
  color: red;
}